<div class="container-fluid">

    <br>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <!-- PRIMER PASO DATOS DEL CONDUCTOR -->
        <mat-step [stepControl]="conductorFormGroup">

            <form [formGroup]="conductorFormGroup" class="formulario">
                <ng-template matStepLabel>Datos del <br>conductor</ng-template>
                
                <br> <br>

                <mat-form-field>
                    <input matInput placeholder="DNI" type="number" min="0" formControlName="dni" [matAutocomplete]="dni">
                    <mat-autocomplete #dni="matAutocomplete">
                        <mat-option *ngFor="let conductor of listaConductores" [value]="conductor.dni"
                            (onSelectionChange)="completarConductor(conductor)">
                            {{ conductor.dni }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <br>

                <mat-form-field>
                    <input matInput placeholder="Apellido" formControlName="apellidoConductor"
                        (click)="verificarConductor()">
                </mat-form-field>

                <br>

                <mat-form-field>
                    <input matInput placeholder="Nombre" formControlName="nombreConductor">
                </mat-form-field>

                <br> <br>

                <div>
                    <button mat-button matStepperNext (click)="verificarConductor()"> Siguiente </button>
                </div>

            </form>

        </mat-step>

        <!-- SEGUNDO PASO DATOS DEL VEHICULO -->
        <mat-step [stepControl]="vehiculoFormGroup">

            <form [formGroup]="vehiculoFormGroup" class="formulario">
                <ng-template matStepLabel>Datos del <br>vehiculo</ng-template>

                <br> <br>

                <mat-form-field>
                    <input matInput placeholder="Dominio" formControlName="dominioVehiculo" [matAutocomplete]="dominio">
                    <mat-autocomplete #dominio="matAutocomplete">
                        <mat-option *ngFor="let vehiculo of listaVehiculos" [value]="vehiculo.id"
                            (onSelectionChange)="completarVehiculo(vehiculo)">
                            {{ vehiculo.id }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <br>

                <mat-form-field>
                    <textarea matInput placeholder="Descripcion" formControlName="descripcionVehiculo"></textarea>
                </mat-form-field>

                <br> <br>

                <div>
                    <button mat-button matStepperPrevious> Volver </button>
                    <button mat-button matStepperNext (click)="verificarVehiculo()"> Siguiente </button>
                </div>

            </form>

        </mat-step>

        <!-- TERCER PASO DATOS DEL EXAMEN -->
        <mat-step [stepControl]="examenFormGroup">

            <form [formGroup]="examenFormGroup" class="formulario">
                <ng-template matStepLabel>Datos del <br>examen</ng-template>

                <br> <br>

                <mat-form-field class="chico2">
                    <input matInput placeholder="Numero de muestra" formControlName="numeroMuestraExamen">
                </mat-form-field>

                <br>

                <mat-form-field class="chico">
                    <input matInput type="number" min="0" step='0.01' placeholder="Resultado" formControlName="resultadoExamen">
                </mat-form-field>
                g de alcohol por litro de sangre

                <br> <br>

                <div>
                    <button mat-button matStepperPrevious> Volver </button>
                    <button mat-button matStepperNext> Siguiente </button>
                </div>

            </form>

        </mat-step>

        <!-- CUARTO PASO DATOS DE LA DOCUMENTACION -->
        <mat-step [stepControl]="documentacionFormGroup" [optional]="true">

            <form [formGroup]="documentacionFormGroup" class="formulario">
                <ng-template matStepLabel>Documentacion</ng-template>

                <br> <br>

                <mat-form-field>
                    <input matInput type="number" placeholder="Numero de acta" formControlName="numeroActaDocumentacion">
                </mat-form-field>

                <br>

                <mat-form-field>
                    <input matInput type="number" placeholder="Numero de retencion" formControlName="numeroRetencionDocumentacion">
                </mat-form-field>

                <br> <br>

                <div>
                    <button mat-button matStepperPrevious> Volver </button>
                    <button mat-button matStepperNext> Siguiente </button>
                </div>

            </form>

        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Resumen <br>y guardar</ng-template>

            <div>
                <mat-form-field>
                    <input matInput placeholder="Fecha">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Hora">
                </mat-form-field>

            </div>

            <div>
                <button mat-button matStepperPrevious> Volver </button>
                <button mat-button (click)="guardarPrueba()"> Guardar y enviar </button>
            </div>

        </mat-step>

    </mat-horizontal-stepper>

</div>