<div class="container1">

    <br> <br> <br>

    <form [formGroup]="formGroup">

        <mat-form-field>
            <input matInput placeholder="Nombre Real" formControlName="nombreReal">
        </mat-form-field>

        <br>

        <mat-form-field>
            <input matInput placeholder="Nombre Usuario" formControlName="nombreUsuario">
        </mat-form-field>

        <br>

        <mat-form-field>
            <mat-label>Tipo Usuario</mat-label>
            <mat-select [(value)]="rol" formControlName="tipoUsuario">
                <mat-option *ngFor="let tipo of tiposUsuarioSelector" [value]="tipo">
                    {{ tipo }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br> <br>

        <button mat-raised-button color="warn" class="btnCancelar" [routerLink]="[ '/usuarios' ]"> Cancelar </button>

        <button [disabled]="formGroup.invalid" class="btnAceptar" (click)="guardar()" mat-raised-button type="submit" color="primary"> Guardar </button>


    </form>

</div>