.submenu {
    height: 50px;
    background-color: rgb(238, 235, 235);
}

.container1{
    margin-top: 0%;
    text-align: center;
    vertical-align: middle;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

mat-form-field{
    width: 300px;
}

.btnCambiarPass{
    width: 300px;
}

.btnCancelar{
    margin-right: 10px;
}

.btnAceptar{
    margin-right: -70px;
}

.espacio{
    height: 20px;
}
