.submenu {
    height: 50px;
    background-color: rgb(238, 235, 235);
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.calendario{
    width: 450px;
}

mat-form-field{
    width: 300px;
}

.columna1{
    text-align: center;
}

.btnCancelar{
    margin-right: 10px;
}

.btnAceptar{
    margin-right: -70px;
}

.espacio{
    height: 20px;
}
