<div class="container1">

    <br> <br> <br>

    <form [formGroup]="formGroup">

        <mat-form-field>
            <input matInput placeholder="Usuario" formControlName="nombreUsuario">
        </mat-form-field>

        <br>

        <mat-form-field>
            <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="contraseniaUsuario">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon> {{ hide ? 'visibility_off' : 'visibility' }} </mat-icon>
            </button>
        </mat-form-field>

        <br>

        <button [disabled]="formGroup.invalid" (click)="iniciarSesion()" mat-raised-button type="submit" class="boton-sesion" color="primary"> Iniciar Sesión </button>

    </form>

    <br>

    <a style="font-size: small;" href="">¿Ha olvidado su contraseña?</a>

    <br> <br>

    <!-- Estas cosas son las que pedia la catedra, login con redes sociales -->

    <button mat-stroked-button color="primary">Crear cuenta</button>

    <br> <br>

    <section class="mat-typography">
        <p>O acceder con</p>
    </section>

    <button mat-icon-button color="warn" (click)="ingresarGoogle()">
        <img src="./../../../assets/google32.png" alt="Google">
    </button>

    <span class="espacio"></span>

    <button mat-icon-button color="primary" (click)="ingresarFacebook()">
        <img src="./../../../assets/facebook32.png" alt="Facebook">
    </button>

</div>
