.example-fill-remaining-space {
    flex: 1 1 auto;
}

.menu-spacer {
    width: 20px;
}

.navbar1 {
    position: sticky;
    z-index: 1;
    top: 0;
}

.active {
    background: rgb(89, 99, 194);
}

button {
    border: 0.5px solid rgb(89, 99, 194) !important;
    margin-left: 5px;
}

.logo {
    width: 40px;
}