<mat-toolbar color="primary" class="navbar1">

    <h1>TP Final</h1>
    <span class="menu-spacer"></span>

    <button mat-button [routerLink]="[ '/inicio' ]" routerLinkActive="active">Inicio</button>

    <button mat-button *ngIf="administrador || administrativo" [routerLink]="[ '/usuarios' ]" routerLinkActive="active">Usuarios</button>

    <button mat-button *ngIf="administrador || administrativo" [routerLink]="[ '/examinadores' ]" routerLinkActive="active">Examinadores</button>

    <!-- MENU EQUIPOS -->
    <button mat-button [matMenuTriggerFor]="equipos" *ngIf="administrador || administrativo" [routerLink]="[ '/equipos' ]" routerLinkActive="active">
        Equipos
        <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #equipos="matMenu">
        <button mat-menu-item [routerLink]="[ '/equipos' ]" (click)="setActiveEquipos()">
            <mat-icon>person</mat-icon>
            <span>Ver Equipos</span>
        </button>
        <button mat-menu-item>
            <mat-icon>build</mat-icon>
            <span>Vigencias</span>
        </button>
    </mat-menu>

    <button mat-button *ngIf="administrador || administrativo" [routerLink]="[ '/prestamos' ]" routerLinkActive="active">Préstamos</button>

    <!-- MENU PRUEBAS -->
    <button mat-button *ngIf="examinador" [routerLink]="[ '/pruebas' ]" routerLinkActive="active">
        Pruebas
    </button>

    <button mat-button *ngIf="administrador || administrativo" [matMenuTriggerFor]="pruebas" 
            [routerLink]="[ '/pruebas' ]" routerLinkActive="active">
        Pruebas
        <mat-icon >expand_more</mat-icon >
    </button>
    <mat-menu #pruebas="matMenu">
        <button mat-menu-item [routerLink]="[ '/pruebas' ]" *ngIf="administrador" >
            <mat-icon>library_add</mat-icon>
            <span>Nueva Prueba</span>
        </button>
        <button mat-menu-item>
            <mat-icon>library_books</mat-icon>
            <span>Verificación</span>
        </button>
    </mat-menu>

    <!-- MENU REPORTES -->
    <button mat-button [matMenuTriggerFor]="reporte" *ngIf="administrador || administrativo" [routerLink]="[ '/reportes' ]" routerLinkActive="active">
        Reportes
        <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #reporte="matMenu">
        <button mat-menu-item [routerLink]="[ '/reportes' ]">
            <mat-icon>person</mat-icon>
            <span>DNI - Nombre</span>
        </button>
        <button mat-menu-item>
            <mat-icon>event</mat-icon>
            <span>Entre fechas</span>
        </button>
        <button mat-menu-item>
            <mat-icon>build</mat-icon>
            <span>Personalizado</span>
        </button>
        <button mat-menu-item>
            <mat-icon>pie_chart</mat-icon>
            <span>Gráficos</span>
        </button>
    </mat-menu>

    <span class="example-fill-remaining-space"></span>
    
    <!-- MENU DE USUARIO -->
    <button mat-button [matMenuTriggerFor]="usuario" matTooltip="Mi Cuenta">
        {{ loginService.getUsuarioActivo().nombrereal | uppercase }}
        <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Mi Perfil</span>
        </button>
        <button mat-menu-item>
            <mat-icon>calendar_today</mat-icon>
            <span>Calendario</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="cerrarSesion()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </mat-menu>

</mat-toolbar>
